<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VM Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
<div class="container">
    <h1>VM Status</h1>
    <hr>
    <div class="row">
        {{range $vm, $data := .vmStatus}}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="vm-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{$vm}}</h3>
                </div>
                <div class="panel-body">
                    <div class="vm-status {{$data.Status | ternary "online" "offline"}}"></div>
                    <p><b>Status:</b> {{$data.Status | ternary "Online" "Offline"}}</p>
                    {{ if $data.Dependencies }}
                    <p><b>Dependencies:</b></p>
                    <ul>
                        {{ range $data.Dependencies }}
                        <li>{{.}}</li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
</body>
</html>
