<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>VM Status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>VM Status</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Dependencies</th>
                </tr>
            </thead>
            <tbody>
              {{range $index, $vm := .vms}}
              <tr>
                <td>{{$vm.Name}}</td>
                <td>{{$vm.Address}}</td>
                {{if $vm.Status}}
                <td style="color:green">Up</td>
                {{else}}
                <td style="color:red">Down</td>
                {{end}}
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vmDependenciesModal{{$index}}">
                    View Dependencies
                  </button>

                  <div class="modal fade" id="vmDependenciesModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="vmDependenciesModalLabel{{$index}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="vmDependenciesModalLabel{{$index}}">VM Dependencies - {{$vm.Name}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <label for="dependency-select{{$index}}">Dependencies:</label>
                          <ul>
                              {{range $dependency := $vm.Dependencies}}
                              <li>{{$dependency}}</li>
                              {{end}}
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {{end}}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
